<footer class="footer">
	<div class="row">
		<div class="social small-12 medium-12 large-12 columns text-center">
			<a href="https://www.facebook.com/DentontheDragon" target="_blank">
				<i class="fa fa-facebook fa-2x"></i>
			</a>
			<a href="https://twitter.com/DentontheDragon" target="_blank">
				<i class="fa fa-twitter fa-2x"></i>
			</a>
			<a href="https://plus.google.com/103631036532005886601" target="_blank">
				<i class="fa fa-google fa-2x"></i>
			</a>
			<a href="https://www.youtube.com/user/DentontheDragon" target="_blank">
				<i class="fa fa-youtube fa-2x"></i>
			</a>
		</div>
		<div class="small-12 medium-10 medium-offset-1 large-6 large-offset-3 columns">
			<p><img src="{{root}}assets/img/bic-logo.png" /></p>
		</div>
		<div class="small-12 medium-12 large-12 columns text-center">
			<p>© Denton the Dragon and Bubbleland</p>
		</div>
	</div>
</footer>
