<div class="top-bar">
	<div class="row hide-for-medium align-middle no-padding">
		<div class="columns small-4">
			<a href="/">
				<img class="logo" src="{{root}}assets/img/logo.png" alt="home">
			</a>
		</div>
		<div class="columns small-8 text-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
			<button class="menu-icon dark" type="button" data-toggle></button>
		</div>
	</div>
	<div id="responsive-menu" class="menu-centered">
		<ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
			{{#each main-menu-items}}
				<li><a href="{{root}}/{{ this.url }}">{{ this.name }}</a></li>
			{{/each}}
		</ul>
	</div>
</div>